@font-face {
    font-family: 'Uncut Sans';
    src: url('Uncut-Sans-BoldItalic.eot');
    src: url('Uncut-Sans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Uncut-Sans-BoldItalic.woff2') format('woff2'),
        url('Uncut-Sans-BoldItalic.woff') format('woff'),
        url('Uncut-Sans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Uncut Sans';
    src: url('Uncut-Sans-Regular.eot');
    src: url('Uncut-Sans-Regular.eot?#iefix') format('embedded-opentype'),
        url('Uncut-Sans-Regular.woff2') format('woff2'),
        url('Uncut-Sans-Regular.woff') format('woff'),
        url('Uncut-Sans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uncut Sans';
    src: url('Uncut-Sans-Bold.eot');
    src: url('Uncut-Sans-Bold.eot?#iefix') format('embedded-opentype'),
        url('Uncut-Sans-Bold.woff2') format('woff2'),
        url('Uncut-Sans-Bold.woff') format('woff'),
        url('Uncut-Sans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

